# PRINT COMMAND
**Basic Print Code**

In [ ]:
print("Hello Anita!") #ini adalah string
print(10) #ini adalah integer

Hello Anita!
10

## Sequence

In [ ]:
print("     //|")
print("    // |")
print("   //  |")
print("  //___|")

     //|
    // |
   //  |
  //___|

## Variables and Datatypes

In [ ]:
# Boolean
laki = False
perempuan = True
print(perempuan)

# String
namaku = "Anita Rahmasari"
no_tlp = "0895620485682"
print(no_tlp)

# Integer
umurku = 23
tahunKelahiran = 2003
tahunSekarang = 2022
print(umurku)
print(tahunSekarang-tahunKelahiran)

#float
GPA = 4.5473
print(GPA)

#Complex number
angka = 2+2j
print(angka)

print(type(laki))
print(type(namaku))
print(type(umurku))
print(type(GPA))
print(type(angka))

True
0895620485682
23
19
4.5473
(2+2j)
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

## Jenis2 Format

In [ ]:
namaku1 = "Nabila Dududu"
umurku1 = 27

In [ ]:
# Cara pertama (+)
print("Halo, namaku "+namaku1)
print("Halo, umurku "+str(umurku1))

#Cara kedua (,)
print("Umurku",umurku1)

Halo, namaku Nabila Dududu
Halo, umurku 27
Umurku 27

In [ ]:
a = "Anita"
b = "Rahmasari"
c = 22
print("Saya "+ a + " "+ b+ " "+ str(c)) #cara lama (python 2)
print("Saya",a,b,c) #(Python 3)
print(a,b)
#print(b)

Saya Anita Rahmasari 22
Saya Anita Rahmasari 22
Anita Rahmasari

In [ ]:
print("Hallo namaku",namaku)
print("umurku",umurku)

Hallo namaku Anita Rahmasari
umurku 23

In [ ]:
# %-Formatting
print("Halo, namaku %s.\nUmurku %s.\n%s umur %s" % (namaku1, umurku1, namaku, umurku))
# \n artinya adalah enter
# %s artinya buat nandain letak variabel tersebut. %s variabelnya dapat berbeda-beda sesuai yg dibutuhkan

Halo, namaku Nabila Dududu.
Umurku 27.
Anita Rahmasari umur 23

In [ ]:
# str.format()
print("Halo, namaku {nama}.\nUmurku {umur}.\n{nama} umur {umur}".format(nama = namaku, umur = umurku))
print("Halo, namaku {nama}.\nUmurku {umur}.\n{nama} umur {umur}".format(nama = namaku1, umur = umurku1))

Halo, namaku Anita Rahmasari.
Umurku 23.
Anita Rahmasari umur 23
Halo, namaku Nabila Dududu.
Umurku 27.
Nabila Dududu umur 27

In [ ]:
# f-String
print(f"Halo, namaku {namaku1}.\nUmurku {umurku1}.\n{namaku1} umur {umurku1}")
print(f"Halo, namaku {namaku}.\nUmurku {umurku}.\n{namaku} umur {tahunSekarang - tahunKelahiran}")
print(f"{{{tahunSekarang - tahunKelahiran}}}")
print(f"{{tahunSekarang - tahunKelahiran}}")
print(f"{tahunSekarang - tahunKelahiran}")

Halo, namaku Nabila Dududu.
Umurku 27.
Nabila Dududu umur 27
Halo, namaku Anita Rahmasari.
Umurku 23.
Anita Rahmasari umur 19
{19}
{tahunSekarang - tahunKelahiran}
19

## Import Library

In [ ]:
# Menginstall Library Pandas
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import tensorflow as tf #library
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors #library
from sklearn.metrics import accuracy_score

## Arithmetic Operation

In [ ]:
import math
a = 13.0
b = 3
c = 81

# print(type(a))
print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b) #pangkat
print(pow(a,b)) #pangkat
print(abs(a)) #absolute (negatif jadi positif)
print(math.sqrt(c))

print(max(3,4,5,6,10))
print(min(3,4,5,6,10))

16.0
39.0
10.0
4.333333333333333
4.0
1.0
2197.0
2197.0
13.0
9.0
10
3

In [ ]:
import math
a = 13
b = 3
print(a / b)
print(a // b)

4.333333333333333
4

## Logical Operator

In [ ]:
x = 5
y =12
if x>y:
  print("x lebih besar dari y")
print("x lebih kecil dari y")

x lebih kecil dari y

In [ ]:
x = 5
y =12
# AND = SEMUA HARUS BERNILAI TRUE UNTUK HASIL TRUE
# OR = SALAH SATU BERNILAI TRUE MAKA TRUE
# NOT = KEBALIKANNYA DARI HASIL OPERATOR AND / OR

print(x>3 and y<10) 
print(x>3 or y<4) 
print(not(x>5 and y<12))

False
True
True

## Conditional

In [ ]:
a = 600
b = 630

if b>a:
  print("b lebih besar dari a")
else:
  print("ini a lho yg lebih gede")

print("\n") #artinya enter

if a>b:
  print("b lebih besar dari a")
else:
  print("ini a lho yg lebih gede")

b lebih besar dari a


ini a lho yg lebih gede

In [ ]:
a = 8 #1000, 8, 9, 90
b = 33
c = 190

# = maka assign nilai
# == maka compare nilai

if (a>b or a>c) and a>=1000:
  print("A adalah yg terbesar")
elif (a == 9):
  print("A adalah 9")
elif (a>b or a>c) and a<= 10000:
  print("Salah satu kondisi adalah benar")
else:
  print("Semua salah")

Semua salah

In [ ]:
# if a > b and c > a and c < 1000: 
#   print("Kedua kondisi Benar")
#   s = 20
# elif a > b and a > c:
#   print("a itu terbesar")
#   s = 40
# elif c > b and c > a and c > 1000:
#   print("C itu terbesar")
#   s = 50
# else:
#   print("ada yg salah tuh")
#   s = 0

## Nested IF

In [ ]:
x =21

if x > 10:
  print("Diatas sepuluh")
  if x > 20:
    print("Diatas 20 juga!!")
  else:
    print("tapi tidak diatas 20")
else:
  print("Nilai dibawah 10")

Diatas sepuluh
Diatas 20 juga!!

In [ ]:
#contoh # indent
a = 50
b = 50

if b >= a:
  if b == a:
    print("a sama dengan b")
  else:
    print("b lebih besar dari a")
else:
  print("b lebih kecil a")

a sama dengan b

# LIST

In [ ]:
nama =["Farah","Agil","Muggy","Farah"]
Jabatan=["Tutor DS18","Tutor DS16","Tutor DS12","Tutor DS20"]

#LIST bisa double dan dapat diubah, dimulai dari 0

In [ ]:
#mengubah nama farah di indeks 3
nama[3]="Aries"
print(nama)

#mengubah nama jabatan di indeks 2
Jabatan[2]="Tutor Python 1"
print(Jabatan[2])

#mengambil seluruh data di jabatan
print(Jabatan)

['Farah', 'Agil', 'Muggy', 'Aries']
Tutor Python 1
['Tutor DS18', 'Tutor DS16', 'Tutor Python 1', 'Tutor DS20']

# Tuple

In [ ]:
nama_tutor=("Farah","Agli","Muggy","Farah")
Kota=("Chicago","New York","Tokyo","Paris")

#Tuple adanya duplikat tapi tidak dapat diubah, dimulai dari 0

In [ ]:
Kota[2]

'Tokyo'

In [ ]:
#mengambil salah satu nama atau kota dalam data diatas
print(Kota[2])
print(nama_tutor[1])

Tokyo
Agli

# Dictionary

In [ ]:
#Dictionary dapat diubah namun tidak boleh duplikat, bentuknya Key:Value
#ambil nama key utk mengambil value yg di inginkan
car={
    "brand":"Ford",
     "model":"Mustang",
     "year":1996,
     "color":"black"
}

In [ ]:
#Mengambil beberapa item pada data diatas
print(car["year"])
print(car["color"])

1996
black

In [ ]:
#mengubah nama model dgn mengambil nilai key nya
car["model"]="Sedan"
print(car["model"])

Sedan

In [ ]:
car

{'brand': 'Ford', 'model': 'Sedan', 'year': 1996, 'color': 'black'}

# Slicing Operator

In [ ]:
x = [2,3,4,5,6,7,8,9]
x[2]=10
print(x[-2])
print(x[2])
print(x[1:6])
print(x[:4])
print(x[-3:])
print(x)

8
10
[3, 10, 5, 6, 7]
[2, 3, 10, 5]
[7, 8, 9]
[2, 3, 10, 5, 6, 7, 8, 9]

In [ ]:
x[:6]

[2, 3, 10, 5, 6, 7]

In [ ]:
x[-4:]

[6, 7, 8, 9]

In [ ]:
x[1:7:2]

[3, 5, 7]

In [ ]:
y = "HELLO DUNIA!"
print(s[3])
print(s[3:7])
print(s[1:8:2])

L
LO D
EL U

In [ ]:
my_list = [2021, 0.2021, "python"]
my_list
print(my_list[2])

m = my_list[2]
m[0]

python

'p'

In [ ]:
#index = [0,1,2,....,n] index selalu dimulai dari 0 sampai n
data2021 = [100,90,95,85,80,20,70]

print(data2021[1:4])
print(data2021[:5])

print("\n")

print(data2021[:6:3])
print(data2021[-3:]) #ambil 3 data dari belakang
print(data2021[:-3]) #ambil 3 data dari awal
print(data2021[:3])

[90, 95, 85]
[100, 90, 95, 85, 80]


[100, 85]
[80, 20, 70]
[100, 90, 95, 85]
[100, 90, 95]

In [ ]:
data2021[2] = 90
#data2021[:-3]=100 pake for untuk diubah

print(data2021)

[100, 90, 90, 85, 80, 20, 70]

## Latihan Slicing

In [ ]:
lists = [11,12,13,14,15,16,17,18,19]
len(lists)

#data ke 1 dimulai dari indeks 0
#indeks= data-1

9

In [ ]:
#1. Ambil data ke 2-6 --> Indeks ke 1 - Indeks ke 5
lists[1:6]

[12, 13, 14, 15, 16]

In [ ]:
#2. Ambil data 1,3,5,7,9
print(lists[0::2])
print(lists[0:9:2])

[11, 13, 15, 17, 19]
[11, 13, 15, 17, 19]

In [ ]:
#.3 Ambil data ke 2,5,8
print(lists[1:8:3])
print(lists[1::3])

[12, 15, 18]
[12, 15, 18]

In [ ]:
#.4 Ambil data ke-4 sampai data ke-9
print(lists[3:9])
print(lists[-6:])
print(lists[3:])

[14, 15, 16, 17, 18, 19]
[14, 15, 16, 17, 18, 19]
[14, 15, 16, 17, 18, 19]

# Contoh soal

In [ ]:
fruits = ['apel', 'pisang', 'jeruk',2,3,4,5]

for fruit in fruits:
  if(isinstance(fruit, int)):
    print("Saya suka angka", fruit)
  else:
    print("Saya suka makan", fruit)

Saya suka makan apel
Saya suka makan pisang
Saya suka makan jeruk
Saya suka angka 2
Saya suka angka 3
Saya suka angka 4
Saya suka angka 5

In [ ]:
fruits = {'apel': 'apple', 
          'jeruk': 'orange', 
          'anggur': 'grape',
          "Satu":1,
          "Dua":2,
          "Tiga":3}

# Dengan loop for, cetak '___ adalah ___ dalam bahasa Inggris'
for fruit_key in fruits:
  if(isinstance(fruits[fruit_key], str)):
    print(fruit_key+" adalah " + fruits[fruit_key]+ " dalam bahasa Inggris")
  else:
    print(fruit_key, "adalah", fruits[fruit_key], "dalam notasi angka")

apel adalah apple dalam bahasa Inggris
jeruk adalah orange dalam bahasa Inggris
anggur adalah grape dalam bahasa Inggris
Satu adalah 1 dalam notasi angka
Dua adalah 2 dalam notasi angka
Tiga adalah 3 dalam notasi angka