# Data Types Review

In [ ]:
#integer
a = 2021
print(a)

In [ ]:
#float
b = 0.2021
print(b)

In [ ]:
#data kompleks
c = 2+21j
print(c)

In [ ]:
#string
string = 'Ini adalah string baris tunggal'

In [ ]:
string = '''Ini adalah string
yang memiliki baris 
lebih dari satu
bisa menggunakan tanda petik 3x'''

In [ ]:
#ini komen satu baris

In [ ]:
a = 2021
print(a, "Bertipe bilangan integer?", isinstance(2021,int)) #isinstance berguna untuk memisahkan 2 objek yg berbeda, misalnya anatara string dan int
print(a, "Bertipe bilangan integer")                        #isinstance mengecek apakah suatu objek dalah instance dari suatu kelas

2021 Bertipe bilangan integer? True
2021 Bertipe bilangan integer

In [ ]:
b= 0.2021
print(b, "Bertipe bilangan float?", isinstance(0.2021,float))

0.2021 Bertipe bilangan float? True

In [ ]:
#Boolean
x = 4
y = 2
x == y #apakah x = y?

False

In [ ]:
x = 5
y = 6
x < y

True

# Slicing

In [ ]:
s = "Hello World!"
print(s[3]) # huruf -l
print(s[7:11])
print(s[1:8:2])
#s = "-"
print(s)
# s = "Hallo Dunia!"
# print(s[1:8:2])

l
orld
el o
Hello World!

In [ ]:
my_list = [2021, 0.2021, 'python']
print(my_list)

m = my_list[2]
m[0]

[2021, 0.2021, 'python']

'p'

In [ ]:
#list
x = [10,20,30,40,50,60,70,80]

print(x[5])
print(x[-1]) 
print(x[3:5]) 
print(x[:5]) 
print(x[-3:])
print(x[1:7:2])

60
80
[40, 50]
[10, 20, 30, 40, 50]
[60, 70, 80]
[20, 40, 60]

In [ ]:
#index = [0,1,2,......,n] index selalu dimulai dari 0 berurutan sampai ke-n
data2021 = [100,90,95,85,80,20]   #ini adalah list

print(data2021[1:4])  # ambil data 2-4 atau index 1-3
print(data2021[:5])  # ambil data 1-5 atau index 0-4 
    
print("\n")    

print(data2021[:6:3])  # ambil data ke-1 sampai data ke-6 dengan 2 langkah
                        # ambil index ke-0 sampai index ke-5 dengan 2 langkah
print(data2021[-3:])  # ambil 3 data terakhir dari belakang
print(data2021[:-3])  # ambil 3 data dari awal
print(data2021[:3])

[90, 95, 85]
[100, 90, 95, 85, 80]


[100, 85]
[85, 80, 20]
[100, 90, 95]
[100, 90, 95]

## Latihan Slicing

In [ ]:
lists = [11,12,13,14,15,16,17,18,19]
len(lists)

9

In [ ]:
#1. Ambil data ke 2-6 --> Indeks ke 1 - Indeks ke 5
lists[1:6]

[12, 13, 14, 15, 16]

In [ ]:
#2. Ambil data 1,3,5,7,9
print(lists[0::2])
print(lists[0:9:2])

[11, 13, 15, 17, 19]
[11, 13, 15, 17, 19]

In [ ]:
#.3 Ambil data ke 2,5,8
print(lists[1:8:3])
print(lists[1::3])

[12, 15, 18]
[12, 15, 18]

In [ ]:
#.4 Ambil data ke-4 sampai data ke-9
print(lists[3:9])
print(lists[-6:])
print(lists[3:])

[14, 15, 16, 17, 18, 19]
[14, 15, 16, 17, 18, 19]
[14, 15, 16, 17, 18, 19]

# Conditional

In [ ]:
x = 2
y = 2
z = (x==y) # Comparison expression (Utk mengevaluasi false/True)
if z: # Conditional jika z bernilai true/false 
    print("Bukan Sabtu")
else: print("Sabtu")

Bukan Sabtu

In [ ]:
x= 27
y = 11

if x < y: # Apakah x < y?
    print('Sekarang tanggal 29 May')
else:
    print('Sekarang tanggal 28 May')

Sekarang tanggal 28 May

In [ ]:
a = 15
b = 14
 
if a != b:  #!= artinya negasi atau kebalikan
  print('Sekarang Siang hari')
else:
  print('Sekarang Pagi hari')
print("\n")

a = 14
b = 14
 
if a != b:  #!= artinya negasi atau kebalikan
  print('Sekarang Siang hari')
else:
  print('Sekarang Pagi hari')

Sekarang Siang hari


Sekarang Pagi hari

## While Loop Statement

In [ ]:
# printing 1 to 10
num = 1 # initial condition
while num <= 10: # test expression
    print(num) # print num
    num = num + 1 # increment num by 1
    
print('It is done')

1
2
3
4
5
6
7
8
9
10
It is done

In [ ]:
# printing 1 to 10
num = 2 # initial condition
while num < 10: # test expression
    print(num) # print num
    num = num + 2 # increment num by 1
    
print('It is done')

2
4
6
8
It is done

In [ ]:
# printing 1 to 10
num = 1000 # initial condition
while num != 574: # test expression
    print(num) # print num
    num -= 1 # increment num by 1
    
print('mati satu tinggal',num)

1000
999
998
997
996
995
994
993
992
991
990
989
988
987
986
985
984
983
982
981
980
979
978
977
976
975
974
973
972
971
970
969
968
967
966
965
964
963
962
961
960
959
958
957
956
955
954
953
952
951
950
949
948
947
946
945
944
943
942
941
940
939
938
937
936
935
934
933
932
931
930
929
928
927
926
925
924
923
922
921
920
919
918
917
916
915
914
913
912
911
910
909
908
907
906
905
904
903
902
901
900
899
898
897
896
895
894
893
892
891
890
889
888
887
886
885
884
883
882
881
880
879
878
877
876
875
874
873
872
871
870
869
868
867
866
865
864
863
862
861
860
859
858
857
856
855
854
853
852
851
850
849
848
847
846
845
844
843
842
841
840
839
838
837
836
835
834
833
832
831
830
829
828
827
826
825
824
823
822
821
820
819
818
817
816
815
814
813
812
811
810
809
808
807
806
805
804
803
802
801
800
799
798
797
796
795
794
793
792
791
790
789
788
787
786
785
784
783
782
781
780
779
778
777
776
775
774
773
772
771
770
769
768
767
766
765
764
763
762
761
760
759
758
757
756
755
754
753
752
751
750
749
748
747
746
745
744
743
742
741
740
739
738
737
736
735
734
733
732
731
730
729
728
727
726
725
724
723
722
721
720
719
718
717
716
715
714
713
712
711
710
709
708
707
706
705
704
703
702
701
700
699
698
697
696
695
694
693
692
691
690
689
688
687
686
685
684
683
682
681
680
679
678
677
676
675
674
673
672
671
670
669
668
667
666
665
664
663
662
661
660
659
658
657
656
655
654
653
652
651
650
649
648
647
646
645
644
643
642
641
640
639
638
637
636
635
634
633
632
631
630
629
628
627
626
625
624
623
622
621
620
619
618
617
616
615
614
613
612
611
610
609
608
607
606
605
604
603
602
601
600
599
598
597
596
595
594
593
592
591
590
589
588
587
586
585
584
583
582
581
580
579
578
577
576
575
mati satu tinggal 574

In [ ]:
# printing 1 to 10
num = 1 # initial condition
while num < 11: # test expression
    print(num, 'iterasi ke-', num) # print num
    num = num + 1 # increment num by 1
    
print('It is done')

1 iterasi ke- 1
2 iterasi ke- 2
3 iterasi ke- 3
4 iterasi ke- 4
5 iterasi ke- 5
6 iterasi ke- 6
7 iterasi ke- 7
8 iterasi ke- 8
9 iterasi ke- 9
10 iterasi ke- 10
It is done

In [ ]:
i = 1
while i < 6:
  if(i%2 == 0):  #i%2 ==0 artinya habis dibagi 2 sama dengan 0
    print("Benjamin is good")
  else:
    print("Benjamin is bad")
  i += 1

Benjamin is bad
Benjamin is good
Benjamin is bad
Benjamin is good
Benjamin is bad

## For Loop Statement

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # list
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
total = 0
for val in numbers:
  total = total + val #increment + nilai dari list
  avg = total / val  
print("\nThe sum of total currently is {}".format(total))
print("\nThe avg of total currently is {}".format(avg))

The sum of total currently is 55

The avg of total currently is 5.5

In [ ]:
number = [1,2,3,4,5,7]
xand = ["Haha"]
a = 5
for i in number:
  if i < a:
    xand.append("True") #Append adalah menggabungkan
  else:
    xand.append("False")
print(xand)

['Haha', 'True', 'True', 'True', 'True', 'False', 'False']

In [ ]:
num = [1,2,3,4,5,6]
# printing 3 to 5
a=0
for i in range(3, 6):
  num = a + 1
  print(i)

3
4
5

In [ ]:
number1 = [1,2,3,4,5,6]
num=0
for val in number1:  #number1 itu berapa banyak loopnya atau berapa kali loop
  num = num+2
  print(num)

2
4
6
8
10
12

In [ ]:
numbers = [1,2,3,4,5,6]
num=1
for i in range(2, 6):
  num = num + 1
  print(num)

2
3
4
5

In [ ]:
words = ['hello', 'world', 'hi', 'everyone'] # list

for w in words:
    print(w +'!')
    
# mengiterasi sebuah list, dictionary, tuple, for loop
# mengiterasi berdasarkan sebuah prasyarat / kondisi, while loop

hello!
world!
hi!
everyone!

In [ ]:
words = ['hello', 'world', 'hi', 'everyone']
counter = 0
number = len(words)

while counter < number:
    word = words[counter]
    print(word + ' !')
    counter = counter + 1

hello !
world !
hi !
everyone !

## Nested Loop

In [ ]:
numbers = ["1", "2", "3", "4"]
words = ['hello', 'world', 'hi', 'everyone','welcome']

for i in numbers: # outer loop
    for w in words: # inner loop
        print(i + " " + w)
        
# hasil nested loop = jumlah iterasi inner loop x jumlah iterasi outer loop

1 hello
1 world
1 hi
1 everyone
1 welcome
2 hello
2 world
2 hi
2 everyone
2 welcome
3 hello
3 world
3 hi
3 everyone
3 welcome
4 hello
4 world
4 hi
4 everyone
4 welcome

## Break and Continue Statetment

**Check even numbers only**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#print only even number
for num in numbers:
    if num % 2 != 0: #Ganjil #!= adalah inequality (nilai tidak sama dengan)
        continue
    else:
        print(num)

2
4
6
8
10

**Terminate printing if "a" alphabet is appear**

In [ ]:
string = 'hello hallo'

for s in string:
    if s == 'a':
        break
    print(s)

h
e
l
l
o

h

In [ ]:
numbers = [2, 4, 5, 6, 7, 8, 9, 10]

#print only even number
for num in numbers:
    if num % 2 != 0: #Ganjil
        break
    else:
      print(num)

2
4

# Contoh Soal

In [ ]:
# Berikan 2 ke variable apple_price 
apple_price = 2

# Berikan 5 ke variable count 
count = 5

# Berikan hasil dari apple_price * count ke variable total_price 
total_price = apple_price * count
print(total_price)

# Dengan menggunakan variable count, cetak 'Anda akan membeli .. apel'
print("Anda akan membeli " + str(count)+" apel")

# Dengan menggunakan variable total_price, cetak 'Harga total adalah .. dolar'
print("Harga total adalah", total_price ,"dolar")

10
Anda akan membeli 5 apel
Harga total adalah 10 dolar

In [ ]:
fruits = ('apel', 'pisang', 'jeruk',2,3,4,5)

for fruit in fruits:
  if(isinstance(fruit, int)): #isinstance utk memeriksa apakah suatu objek adalah instance dari suatu kelas
    print("Saya suka angka", fruit) #isinstance untuk memisahkan string dgn int
  else:
    print("Saya suka makan", fruit)

Saya suka makan apel
Saya suka makan pisang
Saya suka makan jeruk
Saya suka angka 2
Saya suka angka 3
Saya suka angka 4
Saya suka angka 5

In [ ]:
fruits = {'apel': 'apple', 
          'jeruk': 'orange', 
          'anggur': 'grape',
          "Satu":1,
          "Dua":2,
          "Tiga":3}

# Dengan loop for, cetak '___ adalah ___ dalam bahasa Inggris'
for f_key in fruits:
  if(isinstance(fruits[f_key], str)):   #cara bacanya adalah apakah indeks atau key dlm dictionary fruits itu string
    print(f_key+" adalah " + fruits[f_key]+ " dalam bahasa Inggris")
  else:
    print(f_key, "adalah", fruits[f_key], "dalam notasi angka")

apel adalah apple dalam bahasa Inggris
jeruk adalah orange dalam bahasa Inggris
anggur adalah grape dalam bahasa Inggris
Satu adalah 1 dalam notasi angka
Dua adalah 2 dalam notasi angka
Tiga adalah 3 dalam notasi angka

In [ ]:
items = {"nama_barang":"apel",
         "deskripsi":[{"harga":20,
                      "foto":"assets/images/apple.jpg",
                      "qty":100}], 
         "nama_barang":"jeruk",
         "deskripsi":[{"harga":25,
                      "foto":"assets/images/jeruk.jpg",
                      "qty":150}] }

In [ ]:
# Berikan 20 ke variable money
money = 20

items = {'apel': 2, 'pisang': 4, 'jeruk': 6}
for item_name in items:
    print('--------------------------------------------------')
    # Menggunakan variable money, cetak 'Anda memiliki ___ dolar di dompet Anda'
    print("Anda memiliki " + str(money) + " dolar di dompet Anda")
    
    print('Harga setiap ' + item_name + ' ' + str(items[item_name]) + ' dolar')
    
    input_count = input('Mau berapa ' + item_name + '?:')
    print('Anda akan membeli ' + input_count + ' ' + item_name)
    
    count = int(input_count)
    total_price = items[item_name] * count
    print('Harga total adalah ' + str(total_price) + ' dolar')
    
    # Tambahkan control flow berdasarkan perbandingan dari money dan total_price
    if(money >= total_price):
      money = money - total_price
      print("Anda telah membeli "+ input_count + " " + item_name)
      
    else:
      print("Uang Anda tidak mencukupi")
      print("Anda tidak dapat membeli " + item_name +" sebanyak itu")

--------------------------------------------------
Anda memiliki 20 dolar di dompet Anda
Harga setiap apel 2 dolar
Mau berapa apel?:10
Anda akan membeli 10 apel
Harga total adalah 20 dolar
Anda telah membeli 10 apel
--------------------------------------------------
Anda memiliki 0 dolar di dompet Anda
Harga setiap pisang 4 dolar
Mau berapa pisang?:6
Anda akan membeli 6 pisang
Harga total adalah 24 dolar
Uang Anda tidak mencukupi
Anda tidak dapat membeli pisang sebanyak itu
--------------------------------------------------
Anda memiliki 0 dolar di dompet Anda
Harga setiap jeruk 6 dolar
Mau berapa jeruk?:2
Anda akan membeli 2 jeruk
Harga total adalah 12 dolar
Uang Anda tidak mencukupi
Anda tidak dapat membeli jeruk sebanyak itu