# Function Python

In [ ]:
def func1():
  print("Hellow!") #kode dalam function
func1() #memanggil function

Hellow!

In [ ]:
def _fungsiSaya():
  print("Saya berguna untuk demonstrasi fungsi")
  print(1452567)
  print("\n") #Enter atau newline
  print(3.5655)
  print("Hahaha itu saldo ATM apa GPA")
  
_fungsiSaya() #Memanggil Function

Saya berguna untuk demonstrasi fungsi
1452567


3.5655
Hahaha itu saldo ATM apa GPA

In [ ]:
#Function Mengembalikan Nilai
def func_return_nilai():
  a = 5
  b = 6
  return(a+b)
func_return_nilai()

11

# SCOPE

In [ ]:
def localScp(): #Local Scope = Didalam function
  var1 = 10
  return(var1)    #mau print atau return sama aja
  #print(var1)
localScp()

10

# Global Scope

In [ ]:
var1 = 10
def GlobalScp():
  var2 = 20
  c = var1 + var2
  return c

def test():   #function dalam function lain
  b = GlobalScp() #b sebenarnya sama dgn c krena nilai c sama hasil dari GlobalScp yg sudah dihitung
  a = b ** 2
  return a

test()

900

# Global Keywoard

In [ ]:
def GlobalKey():
  global var1 # Deklarasi global
  var1 = 10   # Assign nilai
  print("ini dalam function", var1)

def func2():
  c = var1 + 10
  return c

GlobalKey()
print("ini diluar function", var1)

func2()

ini dalam function 10
ini diluar function 10

20

# Arguments

In [ ]:
def daftar_nama(fname): #f_name adalah Parameter
  print(fname, "Fisher")

daftar_nama("Taylor") #Argument
daftar_nama("Farah")

Taylor Fisher
Farah Fisher

In [ ]:
def daftar_nama(fname,lname): #Parameter = Variabel, didalam tanda kurungnya function
  print(fname, lname)

daftar_nama("Taylor","Fischer") #Arguments = Nilai, didalam tanda kurung saat menanggil function
daftar_nama("Farah","Yulianti")
daftar_nama("Adithya","Muzalian")

Taylor Fischer
Farah Yulianti
Adithya Muzalian

In [ ]:
def tambah(operand1,operand2):
  hasil = operand1 + operand2
  return hasil

def kurang(operand1, operand2):
  hasil = operand1 - operand2
  return hasil

print(tambah(20,2))
print(kurang(20,2))

22
18

# Arbitary Arguments (Args)

In [ ]:
def dftr_pst(*nama):
  print("Peserta kedua:", nama[1])  #printnya ditulis satu2
  print("Peserta ketiga:", nama[2])
  print("Peserta ketiga:", nama[3])

dftr_pst("Julian","Hendri","Farah","Deviha","Lily")

Peserta kedua: Hendri
Peserta ketiga: Farah
Peserta ketiga: Deviha

In [ ]:
#menggunakan for loop agar lebih singkat dan diambil secara keseluruhan secara otomatis

def dftr_pst(*nama):
  for j, i in enumerate(nama):  #Enumerate = Menyimpan indeks dari list
    print("Peserta ke-", j, ":", i) #nyimpen indeksi, i utk valuenya

dftr_pst("Julian","Hendri","Farah","Devina","Liliy")

Peserta ke- 0 : Julian
Peserta ke- 1 : Hendri
Peserta ke- 2 : Farah
Peserta ke- 3 : Devina
Peserta ke- 4 : Liliy

In [ ]:
#contoh tanpa enumerate
def dftr_pst(*nama):
  for i in (nama):  
    print("Peserta", i)

dftr_pst("Julian","Hendri","Farah","Devina","Liliy")

Peserta Julian
Peserta Hendri
Peserta Farah
Peserta Devina
Peserta Liliy

# Keyword Arguments

In [ ]:
def dftr_pst(nama, alamat, kelas):
  print("Nama peserta:", nama)
  print("Alamat peserta:", alamat)
  print("Kelas peserta:", kelas)

dftr_pst(nama = "Lily", kelas = "English", alamat = "Jakarta")

Nama peserta: Lily
Alamat peserta: Jakarta
Kelas peserta: English

# Arbitary Keywoard Arguments(Kwargs)

In [ ]:
def dftr_pst(**data):
  print("Nama peserta:", data["nama"])
  print("Alamat peserta:", data["alamat"])
  print("Kelas peserta:", data["kelas"])
  print("Kecamatan peserta:", data["kecamatan"])
  print("Penghasilan peserta:", data["penghasilan"])

dftr_pst(nama="Lily", kelas="English",alamat="Jakarta", kecamatan="Lebak bulus", penghasilan="100000")

Nama peserta: Lily
Alamat peserta: Jakarta
Kelas peserta: English
Kecamatan peserta: Lebak bulus
Penghasilan peserta: 100000

In [ ]:
def dftr_pst(**data):
  print("Nama peserta:", data["nama"])
  print("Alamat peserta:", data["alamat"])
  print("Kelas peserta:", data["kelas"])

dftr_pst(nama = "Lily", kelas = "English", alamat = "Jakarta")

Nama peserta: Lily
Alamat peserta: Jakarta
Kelas peserta: English

In [ ]:
def dftr_pst(**data):
  for i in (**data):  
    
  #print("Nama peserta:", data["nama"])
  #print("Alamat peserta:", data["alamat"])
  #print("Kelas peserta:", data["kelas"])

dftr_pst(nama = "Lily", kelas = "English", alamat = "Jakarta")

# Default Parameter Value

In [ ]:
def data_pst(nama="Lily"):
  print("Nama peserta:", nama)

data_pst()
data_pst("Unggah")

Nama peserta: Lily
Nama peserta: Unggah

In [ ]:
def dftr_pst(nama="Chandra",alamat="Denpasar",kelas="Programming"):
  print("Nama peserta:", nama)
  print("Alamat peserta:", alamat)
  print("Kelas peserta:", kelas, "\n")

dftr_pst()
dftr_pst("Farah","Bekasi")
dftr_pst("Rahmat","Bandung","Tutor")

Nama peserta: Chandra
Alamat peserta: Denpasar
Kelas peserta: Programming

Nama peserta: Farah
Alamat peserta: Bekasi
Kelas peserta: Programming

Nama peserta: Rahmat
Alamat peserta: Bandung
Kelas peserta: Tutor

# List sebagai Argumen

In [ ]:
def materi(mat):
  for i in mat:
    print("Daftar Materi:", i)

mat = ["Programming Concept","CSIP","SSIP","SOA","Cloud Computing"]
materi(mat)

Daftar Materi: Programming Concept
Daftar Materi: CSIP
Daftar Materi: SSIP
Daftar Materi: SOA
Daftar Materi: Cloud Computing

# Return Values

In [ ]:
def tambah(a,b):
  c = a+b
  return c

a = 50
b = 30
hasil = tambah(a,b)
print(hasil)

a=80
b=90

print(tambah(a,b))

80
170

# Lamda

In [ ]:
x = lambda a,b:a+b
print(x(12,2))

14

In [ ]:
x=lambda umur:"bukan tua" if umur>20 and umur < 50 else "tua"
print(x(40))
print(x(55))

bukan tua
tua

# Math Function

In [ ]:
import math
x = math.ceil(28.7)
y = math.floor(28.7)
z = math.sqrt(81)
o = math.pi 
p = math.pow(4,3)
q = math.fsum([1,2,3,4,5])
r = math.factorial(5)
print(x,y,z,o,p,q,r)

29 28 9.0 3.141592653589793 64.0 15.0 120

# OOP dan Class

In [ ]:
class cal():
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a//self.b
    def sub(self):
        return self.a-self.b
        
calc1 = cal(10,2)
# tambah = calc1.add()
# kurang = calc1.sub()
kali = calc1.mul()
bagi = calc1.div()

print("Hasil Tambah:", calc1.add())
print("Hasil Kurang:", calc1.sub())
print("Hasil Kali:", kali)
print("Hasil Bagi:", bagi)

Hasil Tambah: 12
Hasil Kurang: 8
Hasil Kali: 20
Hasil Bagi: 5

# String Manipulation
**Checkout more here: https://www.freecodecamp.org/news/python-string-manipulation-handbook/**

# Coba-coba

In [ ]:
def CombineString(string1, string2):
  result= string1+ "-"+string2
  print(result)

CombineString("Rahmad", "Hidayat")

Rahmad-Hidayat

In [ ]:
def encodedata(*args):
  if "Rahmat" in (args):
    if "Hdayat" in (args):
      print("Rahmat in")
  else:
    print("Rahmat not in")

encodedata("XABIRU","DUDUDU","RAHMAT")

Rahmat not in

In [ ]:
def encodedata(*args):
  if i in (args):
    if i in (args):
      print("Rahmat in")
  else:
    print("Rahmat not in")

encodedata("XABIRU","DUDUDU","RAHMAT")

NameError: ignored

In [ ]:
class Tutor():
  def __init__(self,nama):
    self.nama= nama

tutorDS = Tutor("Rahmat")
print(tutorDS.nama)

Rahmat

In [ ]:
class Employee:
  empCount = 0

  def __init__(self,nama,salary):
    self.nama = nama
    self.salary = salary
    Employee.empCount += 1
  
emp0 = Employee("Rahmat","10")
emp1 = Employee("Hidayat","9")
emp2 = Employee("dudud","8")
emp3 = Employee("syalala","7")

print(emp2.empCount)

4

In [ ]:
def processModul (argslist):
  if type (argslist) == list:
    outputlist = []
    for arg in argslist:
      outputlist.append(arg%3)
  else:
    print("Please check")

  return outputlist

processModul([1,2,3,4,5])

[1, 2, 0, 1, 2]